<div class="card mt-4">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="emailControl" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{'is-invalid': this.emailControl.invalid && this.emailControl.touched}">
        <div *ngIf="this.emailControl.invalid && this.emailControl.touched" class="invalid-feedback">
          Los datos ingresados son incorrectos
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="passwordControl" type="password" class="form-control" id="exampleInputPassword1" [ngClass]="{'is-invalid': this.passwordControl.invalid && this.passwordControl.touched}">
        <div *ngIf="this.passwordControl.invalid && this.passwordControl.touched" class="invalid-feedback">
          Los datos ingresados no cumplen con lo requerido.
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-4">Ingresar</button>
      <button (click)="loginWithGoogle()" type="submit" class="btn btn-danger">Ingresar Con Google</button>
    </form>
<code>
  
</code>

   </div>
</div>





