<div class="container">
  <section class="Main row justify-content-around"> 
        
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://static3planetadelibroscom.cdnstatics.com/usuaris/libros/fotos/273/tam_1/portada_los-senores-del-tiempo_eva-garcia-saenz-de-urturi_201806251110.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://lh3.googleusercontent.com/proxy/HHgoHc8LMUpGv3yT47ZqdbKXwaTaM_IVWWQC9tbSUM0IKlEyq79-yOIGDDBIiQNgoL0_xQ-h3wCAuaqEiK5cG1bQaY8pLPqHUiMPrgUhOIWYVzTpFshB71QxHSVS0bx5UxYnLB2zRCedPXzuoE_BvpSmsiP0oGpmHxbn7-kMW_r6WBrMqaZwoww1KF4K8mCg5TcA0hpy-WDc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      
    </div>
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://assets.afcdn.com/story/20160223/867657_w1333h2000cx663cy1006.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-1969-el-padrino-1564132106.jpg?resize=480:*" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/519Ic2UH9oL._SX327_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAGscR4ebpfddeLXnPLg2GU5iRWydTans5lQ&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://i.pinimg.com/originals/a0/46/3c/a0463c3ff7acdf8bde7d2bac2adf2804.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://ep01.epimg.net/verne/imagenes/2014/12/28/articulo/1419807489_266091_1419811430_sumario_normal.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card col-md-3" style="width: 18rem;">
      <img src="https://i.pinimg.com/originals/c8/3c/e8/c83ce8545e755bb6839f69ea878ba26d.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

</section>
</div>